.add-page {
    min-height: 100vh;
    background: #0b1224;
    color: white;
    padding-bottom: 80px;
    /* space for navbar */
}

.add-header {
    background: linear-gradient(90deg, #3a0ca3, #7209b7, #f72585);
    padding: 30px 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.back-btn {
    background: none;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 5px;
}

.add-header h2 {
    font-size: 26px;
    margin: 5px 0 0;
}

.add-header p {
    margin-top: 4px;
    opacity: 0.8;
}

.add-form {
    background: #111a2e;
    margin: 20px auto;
    padding: 25px;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-form label {
    font-weight: 600;
    margin-bottom: 5px;
}

.add-form input,
.add-form textarea,
.add-form select {
    padding: 14px;
    border-radius: 10px;
    border: none;
    background: #1a2338;
    color: white;
    font-size: 15px;
}

.add-form textarea {
    min-height: 90px;
    resize: none;
}

.save-btn {
    margin-top: 10px;
    padding: 14px;
    background: linear-gradient(to right, #3a0ca3, #7209b7);
    border: none;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

.save-btn:hover {
    opacity: 0.9;
}