.icon {
    width: 26px;
    height: 26px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon img {
    filter: brightness(1) invert(0);
}