.icon {
    width: 26px;
    height: 26px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon img {
    filter: brightness(1) invert(0);
}

.otp-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 90%;
    gap: 16px;
}

.otp-box {
    width: 40px;
    height: 48px;
    background-color: #222;
    border-color: grey;
    border-radius: 6px;
    font-size: 22px;
    color: white;
    text-align: center;
}

.otp-box:focus {
    outline: 2px solid #34c9b6;
}

.otp-links {
    margin-top: 20px;
    text-align: center;
    color: #b3b3b3;
    font-size: 14px;
}

.otp-links a,
.otp-links .text-link {
    color: #34c9b6;
    font-weight: 500;
    text-decoration: underline;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

.sub{
    text-align: center;
}

/*username page*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #fff;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 40px 80px; 
}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
}


.title,
.input-field,
.subtext,
.create-btn,
.terms-box {
  width: 100%;
  max-width: 720px; 
}

.title {
  font-size: 0.95rem;
  margin-bottom: 8px;
}


.input-field {
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #111;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.input-field::placeholder {
  color: #a0a0a0;
}

.subtext {
  font-size: 0.9rem;
  margin: 10px 0 28px;
}

.create-btn {
  display: block;
  margin: 0 auto 28px; 
  padding: 14px 40px;
  width: 220px; 
  border-radius: 999px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.create-btn:hover {
  transform: scale(1.02);
}

.terms-box {
  font-size: 0.8rem;
  line-height: 1.5;
}

.terms-box a {
  color: #34c9b6;
   text-decoration: underline;
}

.terms-box a:hover {
  text-decoration: underline;
}

.sign {
  margin-top: 25px;
  text-align: center;
  color: #b3b3b3;
  font-size: 20px;
  font-weight: 500;
}
